.page-header {
    border-bottom: 1px solid #ECECEC;

    &__container {
        display: flex;
        align-items: center;
    }
}

.header-navigation {
    display: flex;
    align-items: center;
}